body {
  font-family: sans-serif;
  margin-left: auto;
  margin-right: auto;
  max-width: 40rem;
}

.notHeader {
  padding: 2.7em; 
}

img {
  display: block;
  margin: 0 auto;
  width: 15rem;
}

h1 {
  text-align: center;
}
