@import url('https://rsms.me/inter/inter.css');
html {
    font-family: 'Inter', 'Helvetica', sans-serif;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(250, 250, 250);
}

.container {
    display: grid;
    grid-gap: 4rem;
}

.quote {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    opacity: .3;
}

h1 {
    font-size: 5rem;
    padding: 0;
    margin-top: -5;
    margin-bottom: 0;
}

.hello {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /*background-color: blue;*/
    grid-column: 1;
}

ul {
    list-style: none;
    /*background-color: red;*/
    grid-column: 1;
    margin: 0;
    padding: 0;
}


.secondary {
    font-weight: 350;
}

li {
    margin: 0;
    padding: .25rem;
    font-size: 1.8rem;
    font-weight: 300;
}

a {
    color: inherit;
}


@media screen and (min-width: 589px) {
    .hello {
        grid-column: 1;
    }

    ul {
		grid-column: 2;
    }

}


/*
    more testing is in order to get this to work, I'm not sure why it does not.
*/

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(50,50,50);
        color: rgb(250,250,250);
    }

}


